:root {
    --color-fondo: #F5F5F7; 
    --color-principal: #FFFFFF;
    --color-secundario: #423E37;
    --color-primario: #EC5A5A;
    --color-hover: #ec5a5abb;
    --color-hover-secundario: #423e37b9;
    --color-terciario: #E0E0E5;
    --fuente-moderustic: "Moderustic", sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-montserrat);
    background-color: var(--color-fondo);
    color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

header h1 {
    font-family: var(--fuente-moderustic);
    font-size: 3.5rem;
    color: var(--color-primario);
    margin-bottom: 20px;
}

main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

section {
    margin-bottom: 20px;
    width: 100%;
    max-width: 1800px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buttons button {
    width: 48%;
    padding: 12px;
    font-size: 1rem;
    font-family: var(--fuente-montserrat);
    background-color: var(--color-primario);
    color: var(--color-principal);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
    background-color: var(--color-hover);
    transform: scale(1.02);
}

#button_desencriptar {
    background-color: var(--color-secundario);
}

#button_desencriptar:hover {
    background-color: var(--color-hover-secundario);
}

textarea {
    resize: none;
}

#input-section textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    border: 1px solid var(--color-secundario);
    border-radius: 12px;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#input-rules {
    font-size: 0.9rem;
    color: var(--color-secundario);
    margin-top: 10px;
}

#output-section {
    position: relative;
}

#result {
    border: 1px solid var(--color-secundario);
    padding: 15px;
    font-size: 1.25rem;
    min-height: 100px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 8px;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secundario);
    text-align: center;
    position: relative;
}

#result.empty {
    color: var(--color-secundario);
    background-color: var(--color-terciario);
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result.empty::before {
    display: block;

    margin-bottom: 10px;
    
}

#result #placeholder-text {
    font-size: 2rem;
    font-weight: bold;
}

#result.empty img {
    width: 250px;
    height: auto;
    margin-top: 10px;
    display: block;
}

#result:not(.empty) #placeholder-text {
    display: none;
}

#result:not(.empty) img {
    display: none;
}

#copy-button {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--fuente-montserrat);
    background-color: var(--color-primario);
    color: var(--color-principal);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    display: none;
}

#copy-button.show {
    display: block;
}

#copy-button:hover,
#copy-button:focus {
    background-color: var(--color-hover);
    transform: scale(1.02);
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
        justify-content: space-between;
    }

    #input-section, #output-section {
        width: 48%;
    }

    #input-section textarea {
        height: 25rem;
    }

    #result.empty {
        height: 25rem;
        margin-bottom: 95px;
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: var(--color-primario);
    color: var(--color-principal);
    font-family: var(--fuente-moderustic);
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

footer p {
    margin: 0;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-links img {
    width: 30px;
    height: auto;
    transition: opacity 0.3s;
}

.social-links a:hover img {
    opacity: 0.8;
}